.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.carousel-inner {
    max-width: 40%; /* Ajusta este valor según necesites */
    margin: 0 auto;
}
.carousel-item img {
    width: 100%; /* O el tamaño que prefieras */
    height: 600px; /* Mantener la relación de aspecto */
    margin-bottom: 20px;
}